#!/usr/bin/make -f
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# mingw linker doesn't understand "-z relro" and
# doesn't come with stack protection either
export DEB_BUILD_MAINT_OPTIONS = hardening=-relro,-stackprotector

%:
	dh $@

override_dh_auto_configure:
	./configure --host=x86_64-w64-mingw32 --prefix=/usr/x86_64-w64-mingw32
